#game_box {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
}
	#game_box canvas {
		z-index:1;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	#main_menu_box{
		font-family: "Lucida Console", "Courier New", monospace;
		text-align: center;
		height: 800px;
 		position: relative;
		  /* border: 3px solid green; */
	}

	body{
		background-image: url("backgrounds/background2.png");
		background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
	}

	#center{
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}


	#options{
		padding: 25px;
		background-color: #ffffff90;
		/* text-align: center;
		padding: none;
		width:300px;
		height:400px;
		justify-content: center; */
	}

	.avatarButton {
		text-decoration: none;
		display: inline-block;
		padding: 8px 16px;
	  }
	  
	  .avatarButton:hover {
		background-color: #ddd;
		color: black;
	  }
	  
	  .previous {
		background-color: #72ab74;
		color: white;
	  }
	  
	  .next {
		background-color: #72ab74;
		color: white;
	  }
	  
	  .round {
		border-radius: 50%;
	  }

#chat_box {
	position:absolute;
	top:10px;
	left:10px;
	width:300px;
	height:200px;
	z-index:5;
}
	  /*{border: 1px solid #000000}